apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: networking
    app.kubernetes.io/component: cni
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  sources:
    - chart: cilium
      repoURL: https://helm.cilium.io/
      targetRevision: 1.18.2
      helm:
        valueFiles:
          - $values/bootstrap/cilium/values.yaml

    - repoURL: https://github.com/penxle/kube
      targetRevision: HEAD
      ref: values

    - repoURL: https://github.com/penxle/kube
      targetRevision: HEAD
      path: networking/cilium
      directory:
        exclude: application.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
